# General
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
.env
.env.*

# Go build/cache
bin/
cloudpam
.gocache/
.gopath/
.gopath/**
coverage.out

# Modules cache (local override)
**/pkg/mod/

# SQLite and data
*.db
*.sqlite
*.sqlite3
cloudpam.db

# Node/web (if added later)
node_modules/
dist/

# Editors/IDE
.idea/
.vscode/
*.iml

# OS
._*
Icon?

